@charset "utf-8";
@import url(../fonts/NotoSansKR-Regular.css);

/* Component */
.clear:after {display: block; clear: both; height: 0; line-height: 0; font-size: 0; content: '';}
.overflowHidden {overflow: hidden;}
.wrapper {width: 100%; height: 100%; background-color: #343a40;}
.wrap {position: relative; width: 1278px; height: 100%; min-height: 600px; margin: 0 auto; background-color: #fff;}
.wrap.window {width: 2556px;}

.container {position: absolute; left: 0; top: 0; width: 100%; height: 100%; border-left: 1px solid #343a40;}
.container:first-child {border-left: none;}
.window .container {width: 1278px;}
.window .container +  .container {left: 1278px;}
.centerTable {display: table; width: 100%; height: 100%;}
.centerTableRow {display: table-row;}
.centerTableCell {display: table-cell; vertical-align: middle; line-height: 0; text-align: center;}
* {box-sizing: border-box; -webkit-font-smoothing: antialiased; letter-spacing: -0.1px;}

html,
body {width: 100%; height: 100%; margin: 0;}

body,
textarea {line-height: 1.5;}

body,
input,
textarea,
select,
button {color: #343a40; border-radius: 3px;}
body {font-family: 'NanumGothic-Regular', Arial, Verdana, sans-serif; font-size: 12px; word-break: break-all;}

main,
ul,
ol,
h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
strong,
em,
button {margin: 0; padding: 0;}

ul,
ol {list-style: none;}

h1,
h2,
h3,
h4,
h5,
h6,
p,
address,
strong,
em,
th,
td {font-size: 100%; font-style: normal; font-weight: normal;}

strong {color : #b85363;}
em {color : #536db8;}

a:link,
a:visited,
a:hover,
a:active {color: inherit; text-decoration: none;}

main,
button,
img,
label,
textarea,
input,
select,
option {display: block; outline: none;}

button {min-height: 24px; padding: 4px 8px; border: 1px solid #d6d7d9; text-align: center; background-color: #f1f1f2;}
button:hover {border-color: #b4b5b9; color: #536db8; background-color: #e4e4e6;}
button:disabled {opacity: 0.5; cursor: default;}

button,
label > input,
label > div,
select {cursor: pointer;}

label {position: relative;}
label:after {display: block; clear: both; height: 0; line-height: 0; font-size: 0; content: '';}
label > input,
label > div {float: left;}
label > input {position: absolute; left: 0; top: 0; height: 100%; opacity: 0;}
label > .label-text {margin-left: 8px; line-height: 24px;}
label > input:checked + .label-check {background-position: center -16px;}
label > input:disabled + .label-check {background-position: center -32px;}
label > input:disabled + .label-check + .label-text {color: #aeb0b3;}
label > input:checked:disabled + .label-check {background-position: center -48px;}

textarea,
input,
select {width: 100%; border: 1px solid #d6d7d9;}

textarea:focus,
input:focus,
select:focus {border-color: #b4b5b9;}

textarea:disabled,
input:disabled,
select:disabled {color: #aeb0b3; background-color: #f1f1f2; cursor: default;}

input,
select {height: 24px; line-height: 22px;}
textarea {height: 90px; padding: 8px; resize: none;}
input {padding: 0 4px;}

/* Login > Layout */
#login.wrap {position: relative; width: 100%; min-width: 320px; height: 100%; min-height: auto; background-color: #f8f8f8;}
#login .container {display: inline-block; position: relative; left: auto; top: auto; width: 384px; height: auto; padding: 32px 32px 28px 32px; line-height: 1.5; text-align: left;}

/* Login > Header */
#login .login-header {line-height: 0; text-align: center;}
#login .login-header h1.ci {display: inline-block; overflow: hidden; width: 89px; height: 40px; text-indent: -1000px; background: url('../../images/common/ci.png') no-repeat center center transparent; background-size: cover;}
#login .login-header .title {margin-top: 25px; line-height: 1.5; font-family: 'NotoSansKR-Regular', Arial, Verdana, sans-serif; font-size: 22px;}
#login .login-header .caption {margin-top: 5px; line-height: 1.5; font-family: 'NotoSansKR-Regular', Arial, Verdana, sans-serif; font-size: 14px;}

/* Login > Body */
#login .login-body {margin-top: 28px;}
#login .login-body .form {border: 1px solid #c1c1c2; border-radius: 3px; box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.08);}
#login .login-body .form .input {border-top: 1px solid #e5e5e6;}
#login .login-body .form .input:first-child {border-top: none;}
#login .login-body .form .input input {height: 58px; padding: 0 16px 0 44px; border: none; line-height: 58px; font-family: 'NotoSansKR-Regular', Arial, Verdana, sans-serif; font-size: 14px; background: url('../../images/login/body-form-id.png') no-repeat left top #fff;}
#login .login-body .form .input input:focus {background-position: left bottom !important;}
#login .login-body .form .input.id input {background-image: url('../../images/login/body-form-id.png');}
#login .login-body .form .input.password input {background-image: url('../../images/login/body-form-password.png');}
#login .login-body .form .input.verification input {background-image: url('../../images/login/body-form-verification.png');}
#login .login-body .button {margin-top: 16px;}
#login .login-body .button button {width: 100%; min-height: 60px; padding: 18px 38px; border-color: #536db8; font-family: 'NotoSansKR-Regular', Arial, Verdana, sans-serif; font-size: 18px; color: #fff; background-color: #536db8;}
#login .login-body .button button:hover {border-color: #374e9e; background-color: #374e9e;}
#login .login-body .button p {letter-spacing: -0.8px;}

/* Login > Footer */
#login .login-footer {margin-top: 28px;}
#login .login-footer address {font-family: 'NotoSansKR-Regular', Arial, Verdana, sans-serif; font-size: 11px; color: #aeb0b3; text-align: center;}